<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>

  <div id="tools">
    <% if (!loggedin) { %>
      <a title="Click to log in" href="/account/login">
        My Account
      </a>
    <% } %>

    <% if (loggedin) { %>
      <a href="/account/" title="View account">
        Welcome <%= accountData.account_firstname %>
      </a>
      <a href="/account/logout" title="Log out">
        Logout
      </a>
    <% } %>
  </div>
</header>
