<!-- Flash messages -->
  <% if (messages.notice) { %>
  <div class="notice">
    <%= messages.notice %>
  </div>
<% } %>

<% if (messages.error) { %>
  <div class="error">
    <%= messages.error %>
  </div>
<% } %>
<h1>Inventory Management</h1>

<ul class="inventory-management">
  <li>
    <a href="/inv/add-classification">Add New Classification</a>
  </li>
  <li>
    <a href="/inv/add-inventory">Add New Inventory Item</a>
    <h2>Gérer l'inventaire</h2>
<p>
  Veuillez sélectionner une classification dans la liste ci-dessous pour afficher les éléments d'inventaire correspondants.
</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>
  JavaScript must be enabled to use this page.
</noscript>
<script src="../../js/inventory.js"></script>
  </li>
</ul>

